.head{
    pointer-events: none;
    width: 100%;
    font-size: 24px;
    box-shadow: 5px 5px 5px gray;
    margin: 0px;
}
.head_div{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 18px gray;
    float: none;
}
.heading_div{
    font-size: 20px;
}
.result_p{
    font-size: 20px;
    box-shadow: 5px 5px 5px gray;
    pointer-events: none;
}
.copyright_footer{
    background-color: grey;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    line-height: 2;
}
canvas{
    border: 5px dashed black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    margin-top:150px;
}